/* font */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  min-height:100vh;
  background-image: linear-gradient();
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
*{
    margin:auto;
    padding:auto;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    margin-bottom:116px;
}
/* nav-style */
nav{
    width:80%;
    display: flex;
    align-items: center;
    padding:50px 0px;
    margin-bottom:158px;
}
.nav-title{
    font-size:34px;
    font-weight:bolder;
    color:#4E47FF;
}
.nav-button{
    font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4E47FF;
    padding:12px 36px;
    border:none;
    border-radius:10px;
}
/* banner-style */
.banner{
    width:63%;
    text-align: center;
    padding:0px 0px 200px 0px;
}
.banner-title{
    font-size:65px;
    font-weight:bold;
    color:#252432;
    margin-bottom:37px;
}
.banner-button{
     font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4E47FF;
    padding:12px 36px;
    border:none;
    border-radius:10px;
}
/* action-container-style */
.action-container{
    width:80%;
    display:flex;
    align-items: center;
    margin-bottom:116px;
}
.action-content{
   max-width:517px;
}
.action-title{
    font-size:42px;
    font-weight:bold;
    color:#252432;
    margin-bottom:23px;
}
.action-sub-title{
    font-size:24px;
    font-weight:bold;
    color:rgba(37, 36, 50, 0.5);
    margin-bottom:23px;
}
.action-button{
     font-size:16px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#4E47FF;
    padding:12px 36px;
    border:none;
    border-radius:10px;
}
.action-img img{
    border:none;
    border-radius:48px;
    max-width:403px;
}
/* productive-users-style */
.productive-users{
    width:60%;
    background-color:rgba(78, 71, 255, 0.1);
    padding:50px 80px;
    border:none;
    border-radius:24px;
    margin-bottom:116px;
}
.productive-title{
    font-size:38px;
    font-weight:bold;
    color:#252432;
    text-align: center;
    margin-bottom:40px;
}
.productive-users-data{
    max-width:856px;
    display: flex;
    gap:158px;
}
.users-data-title{
    font-size:80px;
    font-weight: bold;
    color:#4E47FF;
}
.users-data-sub-title{
    font-size:20px;
    font-weight:regular;
    color: rgba(0, 0, 0, 0.5);
}
/* users-feedback-container */
.users-feedback{
    width:72%;
    margin-bottom:116px;
}
.feedback-title{
    font-size:42px;
    font-weight:bold;
    color:#252432;
    text-align:center;
    margin-bottom:50px;
}
.review-tittle{
    font-size:24px;
    font-weight:SemiBold;
    color:#1E1E1E;
}
.review-sub-title{
    font-size:16px;
    font-weight:regular;
    color:#1E1E1E;
    margin-top:10px;
}
.review-name{
    font-size:16px;
    font-weight:regular;
    color:#757575;
}
.review-date{
    font-size:16px;
    font-weight:regular;
    color:#B3B3B3; 
}
.reviewer-img img{
    border:none;
    border-radius:50px;
}
.image img{
    margin-bottom:20px;
}
.review-info-card{
    width:360px;
    border:1px solid #F2EDED;
    padding:24px;
    border-radius:14px;
    background-color:rgba(255, 255, 255, 0.5);
}
.reviewer-data{
   display:flex;
   align-items: center;
   margin-top:20px;
   width:200px;
   margin-left:0px;
}
.review-container{
    display: flex;
    gap:24px;
}
/* focus-section-style */
.focus{
    width:60%;
    padding:70px 100px;
    margin-bottom:116px;
    background-color:#FFFFFF;
    text-align: center;
    border:none;
    border-radius:14px;
}
.focus-title{
    font-size:50px;
    font-weight:bold;
    color: #000000;
    margin-bottom: 20px;
}
.focus-sub-title{
    font-size: 16px;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.5);
     margin-bottom: 20px;
}
.focus-img{
    width:840px;
    border: none;
    border-radius: 48px;
}
.focus-button{
    display: block;
      font-size:16px;
    font-weight:Medium;
    color:#FFFFFF;
    background-color:#4E47FF;
    padding:12px 36px;
    border:none;
    border-radius:10px;
     margin-bottom: 20px;
}